.places__paragraph {
   margin: 0;
   font-family: Inter, Arial, Helvetica, sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.6;
   letter-spacing: 0em;
}

.places__paragraph:not(:last-child) {
   margin-bottom: 26px;
}

@media (max-width: 1023px) {
   .places__paragraph {
      font-size: 16px;
   }
}

@media (max-width: 767px) {
   .places__paragraph {
      margin-top: 32px;
      margin-left: 16px;
      margin-right: 16px;
   }
}


