.header {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: end;
       -ms-flex-align: end;
           align-items: flex-end;
   margin: 0 auto 56px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   max-width: 1184px;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
   .header {
      margin-left: 48px;
      margin-right: 48px;
   }
}

@media (max-width: 1023px) {
   .header {
      margin-left: 24px;
      margin-right: 24px;
   }
}

@media (max-width: 320px) {
   .header {
      margin-left: 16px;
      margin-right: 16px;
   }
}


