.footer__copyright {
   margin: 0;
   font-family: Inter;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.14;
   letter-spacing: 0em;
   color: #E5E5E5;
}

@media (max-width: 692px) {
   .footer__copyright {
      margin-top: 48px;
   }
}