.intro {
   max-width: 690px;
   margin: 92px auto 0 100px;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
   .intro {
      margin-left: 0;
   }
}

@media (max-width: 1023px) {
   .intro {
      max-width: 100%;
      margin-top: 88px;
   }
}

@media (max-width: 320px) {
   .intro {
      margin-top: 64px;
   }
}