.header__lang-links {
   margin-bottom: 6px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}

@media (max-width: 310px) {
   .header__lang-links {
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 100%;
      margin-top: 3%;
      margin-bottom: 0;
   }
}